#projects-title {
    text-align: center;
    font-size: 40px;

    margin-top: 80px;
    margin-bottom: 24.8px;
}

#projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-project {
    margin: 10px;
    align-self: start;
}