@import "../style.css";

#about-title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;

    margin-top: 80px;
    margin-bottom: 24.8px;
}

#about-content {
    text-align: center;
}

#about-cards {
    display: flex;
    
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.about-card {
    margin: 0px 10px 0px 10px;
}