@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
    background-color: black;
    font-family: "Lato", sans-serif;
}

#container {
    background-color: inherit;
}

#face {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 4%;
}

#subtitle {
    font-size: 1.25em;
}

.hyperlink {
    height: 7vh;

    background-color: #1a1a1a;
    border: 1px solid transparent;
    border-radius: 8px;

    transition: filter 0.3s ease-in-out;
}

.hyperlink:hover {
    filter: drop-shadow(0 0 2em red);
    border-color: red;
}

@media screen and (max-width: 1000px) {
    #title {
        font-size: 3.5em;
    }

    .hyperlink-logo {
        font-size: 5vw;
    }
}